
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{ font-family: 'Montserrat', sans-serif; }


.navbar.sticky {
    background: rgba(0, 0, 0, 0.8);
}
.navbar.navbar-inverse {
    background: rgba(0, 0, 0, 0.4);
   
}
.navbar {
    padding: 10px 0px 10px 0px;
}
.navbar-inverse {
    background-color: #222;
    border-color: #080808;
        border-bottom-color: rgb(8, 8, 8);
}
.navbar-fixed-top {
    top: 0;
z-index: 1030;
}

.section_header {
  width: 100%;
  margin-bottom: 60px; }
  .section_header h3 {
    color: #646464;
    font-weight: 300;
    font-style: italic;
    font-size: 27px;
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 0px;
    display: inline-block;
    margin: 0; }

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url(http://localhost/img/sysadmin2.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.contenedor-principal{
  background-color: #ffffff;
  color: white;
  text-align: center;
}
.fila-redes{
  margin-top: 50px;
  margin-bottom: 20px;
  color: black;
}

.columna-fb{
  padding-bottom: 20px; 
  text-align: center;
  font-weight: bold;
}

.columna-twitter{
  padding-bottom: 20px; 
  text-align: center;
  font-weight: bold;
}

.columna-youtube{
  padding-bottom: 20px; 
  text-align: center;
  font-weight: bold;
}
.pad-facebook{
  padding-bottom: 30px;
}

.pad-twitter{
  padding-bottom: 30px;
}

.pad-youtube{
  padding-bottom: 30px;
}
